<!-- Arquivo contendo os forms Modal para criação de itens e atualização tambem -->



<!-- Modal POP UP para criar lista -->
<div class="modal fade" id="criarListaModal" tabindex="-1" aria-labelledby="criarListaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criarListaModalLabel" style="color: black;">Criar Nova Lista</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário para criar lista -->
                <form method="POST" action="{% url 'criar_lista' %}">
                    {% csrf_token %}
                    <label for="nome" style="color: black;">Nome da Lista:</label>
                    <input type="text" placeholder="Nome da sua Lista" id="nome" name="nome" class="form-control"
                        required>
                    <label for="descricao" style="color: black;">Descrição:</label>
                    <textarea id="descricao"
                        placeholder="Uma breve descrição sobre do que se trata sua Lista, pode deixar vazio se preferir."
                        name="descricao" class="form-control"></textarea>
                    <label for="dataInicio" style="color: black;">Data de Início:</label>
                    <input type="date" id="dataInicio" name="dataInicio" class="form-control">
                    <label for="dataFim" style="color: black;">Data de Término:</label>
                    <input type="date" id="dataFim" name="dataFim" class="form-control">
                    <label for="prioridade" style="color: black;">Prioridade:</label>
                    <select id="prioridade" name="prioridade" class="form-control" required>
                        <option value="1">Baixa</option>
                        <option value="2">Média</option>
                        <option value="3">Alta</option>
                    </select>
                    <button type="submit" class="btn pastel-button mt-3">Criar Lista</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- fim do criar lista -->


<!-- Modal para criar atividade -->
<div class="modal fade" id="criarAtividadeModal" tabindex="-1" aria-labelledby="criarAtividadeModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criarAtividadeModalLabel" style="color: black;">Criar Nova Atividade</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário para criar atividade -->
                <form method="POST" action="{% url 'criar_atividade' %}">
                    {% csrf_token %}
                    <input type="hidden" name="lista_id" id="lista_id" value="">
                    <input type="hidden" name="user_id" value="{{ request.user.id }}">
                    <div class="mb-3">
                        <label for="nome_atividade" class="form-label" style="color: black;">Nome da Atividade:</label>
                        <input type="text" placeholder="Nome da sua Atividade" class="form-control" id="nome_atividade" name="nome_atividade" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label" style="color: black;">Descrição:</label>
                        <textarea class="form-control" 
                        placeholder="Uma breve descrição sobre do que se trata sua Atividade, pode deixar vazio se preferir."
                        id="descricao" name="descricao"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="dataInicio" class="form-label" style="color: black;">Data de Início:</label>
                        <input type="date" class="form-control" id="dataInicio" name="dataInicio">
                    </div>
                    <div class="mb-3">
                        <label for="dataFim" class="form-label" style="color: black;">Data de Término:</label>
                        <input type="date" class="form-control" id="dataFim" name="dataFim">
                    </div>
                    <div class="mb-3">
                        <label for="prioridade" class="form-label" style="color: black;">Prioridade:</label>
                        <select class="form-select" id="prioridade" name="prioridade" required>
                            <option value="1">Baixa</option>
                            <option value="2">Média</option>
                            <option value="3">Alta</option>
                        </select>
                    </div>
                    <button type="submit" class="btn pastel-button mt-3">Criar Atividade</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fim do modal para criar atividade -->


<!-- Modal para criar tarefa -->
<div class="modal fade" id="criarTarefaModal" tabindex="-1" aria-labelledby="criarTarefaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="criarTarefaModalLabel" style="color: black;">Criar Nova Tarefa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário para criar tarefa -->
                <form method="POST" action="{% url 'criar_tarefa' %}">
                    {% csrf_token %}
                    <input type="hidden" name="atividade_id" id="atividade_id" value="">
                    <input type="hidden" name="user_id" value="{{ request.user.id }}">
                    <div class="mb-3">
                        <label for="nome_tarefa" class="form-label" style="color: black;">Nome da Tarefa:</label>
                        <input type="text" placeholder="Nome da sua Tarefa" class="form-control" id="nome_tarefa" name="nome_tarefa" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label" style="color: black;">Descrição:</label>
                        <textarea class="form-control" id="descricao" name="descricao"
                        placeholder="Uma breve descrição sobre do que se trata sua Tarefa, pode deixar vazio se preferir."></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="dataInicio" class="form-label" style="color: black;">Data de Início:</label>
                        <input type="date" class="form-control" id="dataInicio" name="dataInicio">
                    </div>
                    <div class="mb-3">
                        <label for="dataFim" class="form-label" style="color: black;">Data de Término:</label>
                        <input type="date" class="form-control" id="dataFim" name="dataFim">
                    </div>
                    <div class="mb-3">
                        <label for="prioridade" class="form-label" style="color: black;">Prioridade:</label>
                        <select class="form-select" id="prioridade" name="prioridade" required>
                            <option value="1">Baixa</option>
                            <option value="2">Média</option>
                            <option value="3">Alta</option>
                        </select>
                    </div>
                    <!-- Adicione mais campos de acordo com o modelo de tarefa, se precisar :v -->
                    <button type="submit" class="btn pastel-button mt-3">Criar Tarefa</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Fim do modal para criar tarefa -->



<!-- Modal de update item -->

<div class="modal fade" id="atualizarModal" tabindex="-1" aria-labelledby="atualizarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="form-label" style="color: black;" id="atualizarModalLabel">Atualizar Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <!-- Formulário de atualização aqui -->
                <form id="updateForm" method="post" action="{% url 'atualizar_item' %}">
                    {% csrf_token %}
                    <input type="hidden" name="objectType" id="updateObjectTypeInput">
                    <input type="hidden" name="itemId" id="updateItemIdInput">
                    <!-- Campos de atualização aqui -->
                    <div class="mb-3">
                        <label for="nome_tarefa" class="form-label" style="color: black;">Novo nome:</label>
                        <input type="text" class="form-control" id="nome_tarefaatt" name="nome_tarefaatt" required>
                    </div>
                    <div class="mb-3">
                        <label for="descricao" class="form-label" style="color: black;">Descrição:</label>
                        <textarea class="form-control" id="descricaoatt" name="descricaoatt"></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="dataInicio" class="form-label" style="color: black;">Data de Início:</label>
                        <input type="date" class="form-control" id="dataInicioatt" name="dataInicio">
                    </div>
                    <div class="mb-3">
                        <label for="dataFim" class="form-label" style="color: black;">Data de Término:</label>
                        <input type="date" class="form-control" id="dataFimatt" name="dataFim">
                    </div>
                    <div class="mb-3">
                        <label for="prioridade" class="form-label" style="color: black;">Prioridade:</label>
                        <select class="form-select" id="prioridadeatt" name="prioridadeatt" required>
                            <option value="1">Baixa</option>
                            <option value="2">Média</option>
                            <option value="3">Alta</option>
                        </select>
                    </div>
                    <button type="submit" class="btn pastel-button mt-3">Atualizar</button>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- MODAL PRA FEEDBACK, AO SALVAR UM ARQUIVO APARECE ESSE POP-UP -->


<div class="modal fade" id="myModalSucess" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="color: black;">Salvo com Sucesso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <!-- <div class="modal-body" style="color: black;">
                Seus dados foram salvos com sucesso!
            </div> -->
        </div>
    </div>
</div>